<%= form_for(@steplist) do |f| %>
  <% if @steplist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@steplist.errors.count, "error") %> prohibited this steplist from being saved:</h2>

      <ul>
      <% @steplist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :due_date %><br />
    <%= f.datetime_select :due_date %>
  </div>
  <div class="field">
    <%= f.label :date_completed %><br />
    <%= f.datetime_select :date_completed %>
  </div>
  <div class="field">
    <%= f.label :college_list %><br />
    <%= f.text_field :college_list %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
