<h1>Listing checks</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Due date</th>
    <th>Date complete</th>
    <th>Completed</th>
    <th>College list</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @checks.each do |check| %>
  <tr>
    <td><%= check.name %></td>
    <td><%= check.due_date %></td>
    <td><%= check.date_complete %></td>
    <td><%= check.completed %></td>
    <td><%= check.college_list %></td>
    <td><%= link_to 'Show', check %></td>
    <td><%= link_to 'Edit', edit_check_path(check) %></td>
    <td><%= link_to 'Destroy', check, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Check', new_check_path %>
